@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
body{
    margin: 0;
}
header{
    color:  #eee;
    background-color: transparent ;
    font-family: Century Gothic;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.cont{
    display: flex;
    width: 1170px;
    margin: auto;
    height: 130px;
    justify-content: space-between;
}
.lef{
    display: flex;
    justify-content: space-between;
}
.lef a{
    display: flex;
    text-decoration: none;
    color: #228B22;
    font-size: 40px;
    font-family: Century Gothic;
}
.lef a p{
    border-top: 2px transparent solid;
    transition: all .5s;
    transform: translateY(-10px);
    font-family: 'Indie Flower', cursive;
    color: #556B2F ;
}
.lef a img{
    display: flex;
    justify-content: flex-start;
    width: 200px;
    height: 200px;
}

.rig{
    display: flex;
    justify-content: flex-end;
}
ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    text-decoration: none;
    padding-left: 40px;
    font-size: 30px;
    color: black;
    font-family: 'Indie Flower', cursive;
    transition: all .5s;
}
nav ul li a:hover{
    color: #FF4500;
    font-size: 32px;
}
.lef a p:hover{
    border-top: 3px #556B2F  solid;
}
.main{
    display: block;
    width: 1170px;
    height: 37800px;
    margin: auto;
    margin-top: -21px;
    background-color: transparent;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
main h1{
    display: flex;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    margin-bottom: -50px;
    margin-top: -10px;
}
main blockquote{
    font-size: 30px;
    border-top: 5px solid red;
    padding-top: 7px;
    padding-bottom: 20px;
    border-bottom: 5px solid red;
}
main blockquote p{
    font-family: 'Indie Flower', cursive;
}
main blockquote cite{
    display: flex;
    justify-content:flex-end;
    font-family: 'PT Sans Narrow', sans-serif;
}
main .text{
    font-family: 'Indie Flower', cursive;
    font-size: 23px;
}
.mask{
    background-image: url(images/main5.jpg);
    opacity: 0.2;
    width: 100%;
    height: 38199px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
}
.nav2{
    height: 160px;
    display: flex;
    justify-content: center;
    background-color:transparen;
    position: fixed;
    bottom: 0;
    right: 0;
}
.facebook{
    display: inline-block;
    height: 70px;
    width: 70px;
    background-image: url(images/facebook1.png);
    background-size: contain;
     margin-right: 50px;
    border-radius: 31%;
    transition: all 1s;
    background-color: #2b5297;
    transition: all 1s;
}
.facebook:hover {
    box-shadow: 0 0 50px #2b5297;
    transform: scale(1.2,1.2)
}
.youtube{
    display: inline-block;
    height: 70px;
    width: 70px;
    background-image: url(images/youtube.png);
    background-size: contain;
     margin-right: 50px;
    border-radius: 31%;
    transition: all 1s;
    background-color: #c30000;
    transition: all 1s;
}
.youtube:hover {
    transform: rotate(360deg);
    box-shadow: 0 0 50px #c30000;
}
.what{
    display: inline-block;
    height: 70px;
    width: 70px;
    background-image: url(images/whatsapp.png);
    background-size: contain;
     margin-right: 50px;
    border-radius: 31%;
    transition: all 1s;
    background-color: #26a614;
    transition: all 1s;
}
.what:hover{
    box-shadow: 0 0 50px #26a614;
    transform: scale(1.2,1.2)
}
.instagram{
    display: inline-block;
    height: 70px;
    border-radius: 31%;
    width: 70px;
    background-image: url(images/instagram1.png);
    background-size: 100%;
    background-position: center;
    margin-right: 50px;
    transition: all 1s;
    background-color: #fdfd03;
}
.instagram:hover{
    transform: rotate(360deg);
    box-shadow: 0 0 50px #BA55D3;
}
.foto{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.line p{
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    font-family: 'Indie Flower', cursive;
}
.a{
    width: 40px;
    height: 40px;
    display: inline;
    transform: translate(690px,10px)
}
footer{
    height: 250px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
footer img{
    width:100px;
    margin-right: 10px;
}
footer h2{
    font-size: 30px;
}
footer h3{
    font-size: 23px;
}
@media(width:375px) {
    .nav2 {
        display: flex;
        flex-direction: column;
    }
    .mask{
        background-color: white;
    }
}